.carousel-container {
    background-color: #d3d3d3; /* Gris claro */
    padding: 20px;
    border-radius: 5px;
}
.carousel-caption {
    color: black; /* Color del texto negro */
    border-radius: 5px;
    padding: 10px;
}
.panel-heading {
    text-align: center; /* Centrar el texto */
}